@charset "utf-8";
/* CSS Document */

#navigation ul li.active:hover ul{
    display: block;
    background: #ffffff;
}

#navigation ul li > ul{
    display: none;
    background: #F1F1F1;
}
#cssmenu > ul > li.active > a> b{
    margin-top: -18px;
    position: absolute;
    right: 10px;
    float: right;
    display:block;
}
#cssmenu > ul > li > a> b{
    display: none;
}